#title {
    text-align: center;
    color: darkslategrey;
    font-size: 250px;
}
.link {
    text-align: left;
    color:coral;
    font-size: 50px;
}
#change {
    color:cornflowerblue;
    font-size: 140px;
    text-align: center;
    background-color: lightskyblue;
}